#locLabel{
  text-align: center;
}

.forecast{
  margin-top: 50px;
}

.forecast h3{
  text-align: left;
}

.rightShift{
  text-align: right;
}

.list{
  border-top: 1px solid black;
}

.panel-body{
  background-color: rgba(66, 134, 244, .3);
}

#login{
  margin-left: 20px;;
}

.loginInputs {
  margin-top: 10px;
}
#signin, #signup{
  margin-top: 15px;
}
#signin{
  margin-left: 15px;
}
